<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <%= form.text_field :name, placeholder: 'Name', class:'input' %>
    <%= form.text_field :icon, placeholder: 'Image Link', class:'input' %>
    <%= form.submit 'Create', class: 'btn' %>
  </div>
<% end %>
